<div>未実装 保留のリスト</div>
<ul>
  <li><a routerLink="/window"> window間でのデータやり取り </a></li>
  <li><a routerLink="/google"> GoogleOAuth2</a></li>
  <li><a routerLink="/grid/pivot">pivotとgrouping</a></li>
  <li><a routerLink="/grid/pinned">ピン留め、合計など</a></li>
  <li><a routerLink="/grid/group">グルーピング</a></li>
  <li><a routerLink="/template-driven-form">テンプレート駆動フォーム</a></li>
  <li><a routerLink="/reactive-form">リアクティブフォーム</a></li>
  <li><a routerLink="/rxjs" routerLinkActive="active"> Rxjs実験 </a></li>
</ul>

<input appFilterKeyupEvents [intervalMs]="500" (filteredText)="filteredText($event)" type="text">
