.container {
  padding: 0;
  display: grid;
  grid-template-columns: 600px 1fr 0px;
  grid-template-rows: auto;
}

.side-navi {
  grid-column-start: 1;
  background-color: #cccccc;
}

.side-navi > ul > li {
  list-style: none;
}

.is-active {
  color: #cc3333;
  font-weight: bold;
}

.content {
  grid-column-start: 2;
}
