table {
  border: solid 1px #ccc;
  border-radius: 2px;
  cursor: pointer;
}
td {
  border: solid 1px #ccc;
}

th {
  border: solid 1px #eeeeee;
}

.check {
  background-color: #005fb3;
}

.uncheck {
  background-color: #efefef;
}
