
<ul>
  <li>
    <a routerLink="/queryparams">
      GetParameterの取得
    </a>
    <a routerLink="/queryparams" [queryParams]="{count: 100}">
      (パラメータ付き)
    </a>
  </li>
  <li>
    <a routerLink="/routerlink">
      RouterLinkActive
    </a>
  </li>
  <li>
    rxjs
    <ul>
      <li>
        <a routerLink="/rxjs" routerLinkActive="active">
          実験
        </a>
      </li>
      <li>
        <a routerLink="/cache">
          http responseのcache
        </a>
      </li>
      <li>
        <a routerLink="/polling">
          polling
        </a>
      </li>
    </ul>
  </li>
  <li>
    form
    <ul>
      <li>
        <a routerLink="/focus">
          text inputのfocus outでフォーマット
        </a>
      </li>
      <li>
        <a routerLink="/validation">
          formのvalidation
        </a>
      </li>
      <li>
        <a routerLink="/custom">
          custom input
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a routerLink="/recursive">
      再帰的なデータの表示
    </a>
  </li>
  <li>
    <a routerLink="/structual_directive">
      構造ディレクティブ
    </a>
  </li>
  <li>
    <a routerLink="/momentrange">
      moment-rangeを使う
    </a>
  </li>
  <li>
    <a routerLink="/slide">
      markdown slide
    </a>
  </li>
  <li>
    <a routerLink="/viewchildren">
      ViewChildren で子要素を操作
    </a>
  </li>
  <li>
    <a routerLink="/chartjs">
      ChartJSのサンプル
    </a>
  </li>
  <!--
  <li>
    <a routerLink="/marble_diagram">
      MarbleDiagram
    </a>
  </li>
  -->
  <li>
    ag-grid
    <ul>
      <!--
      <li>
        <a routerLink="/grid/group">
         グルーピング(WIP)
        </a>
      </li>
      <li>
        <a routerLink="/grid/pinned">
          ピン止め、合計あたり(WIP)
        </a>
      </li>
      -->
      <li>
        <a routerLink="/grid/flex">
          ag-gridでflexboxを使う
        </a>
      </li>
      <!--
      <li>
        <a routerLink="/grid/pivot">
          pivotとgrouping
        </a>
      </li>
      -->
      <li>
        <a routerLink="/grid/reactive">
          日付セル編集
        </a>
      </li>
    </ul>
  </li>
  <!--
  <li>
    google
    <ul>
      <li>
        <a routerLink="/google">
          GoogleOAuth2
        </a>
      </li>
    </ul>
  </li>
  -->
  <li>
    window
    <ul>
      <li>
        <a routerLink="/window">
          window間でのデータやり取り
        </a>
      </li>
    </ul>
  </li>
</ul>

