<p>
  rxjs サンプル
</p>

<div>生成系</div>

<div>
  <button type="button" (click)="from()">
    Observable.from
  </button>
  <pre>
  </pre>
</div>

<div>
  <button type="button" (click)="range()">
    Observable.range
  </button>
  <pre>
    Rx.Observable.range(start, count, [scheduler])
  </pre>
</div>

<div>
  <button type="button" (click)="defer()">
    Observable.defer
  </button>
  <pre>
  </pre>
</div>

<div>
  <button type="button" (click)="interval()">
    Observable.interval
  </button>
  <pre>
  </pre>
</div>

