<div class="card border-secondary mb-6" style="max-width: 100%;">
  <div class="card-header">HttpRequestCache</div>
  <div class="card-body text-secondary">
    <h4 class="card-title">Httpリクエストの結果をキャッシュするサンプル</h4>
    <div class="card-text">
      <p>
        Httpリクエストの結果をキャッシュし同じパラメータであればHttpリスエストを送信しない
      </p>
      <p>
        Httpリクエスト送信時にInterceptorでSubjectに通信内容を流しているので通信が発生するとログに出力される
      </p>
    </div>
  </div>
</div>

<div>
  <button type="button" (click)="getHeroes()" class="btn btn-sm btn-primary">
    GetHeroes
  </button>
  <div class="card" *ngFor="let hero of heroes$ | async">
    <div>ID: {{ hero.id }}</div>
    <div>Name: {{ hero.name }}</div>
  </div>
</div>

<ng-container *ngFor="let n of [1, 2, 3]">
  <button type="button" (click)="getHero(n)" class="btn btn-sm btn-success">
    Get Hero(id: {{ n }})
  </button>
</ng-container>

<div class="card">
  <div>CurrentHero</div>
  <div>ID: {{ (hero$ | async)?.id }}</div>
  <div>Name: {{ (hero$ | async)?.name }}</div>
</div>

<br />
<!--<button type="button" (click)="getUsers()" class="btn btn-sm btn-primary">-->
<!--  Users-->
<!--</button>-->
<!--<button type="button" (click)="getUsers2()" class="btn btn-sm btn-primary">-->
<!--  Users2-->
<!--</button>-->

<!--<button-->
<!--  type="button"-->
<!--  (click)="getUsersWithParams()"-->
<!--  class="btn btn-sm btn-primary"-->
<!--&gt;-->
<!--  UsersWithParams-->
<!--</button>-->

<div>Http Request Logs</div>
<alert type="info">
  <div *ngFor="let log of logs">
    {{ log.message }}
  </div>
</alert>

<!--<ng-container *ngFor="let user of users">-->
<!--  <hr />-->
<!--  {{ user | json }}-->
<!--</ng-container>-->
