<p>marble-diagram works!</p>

<div class="stream">
  <div class="stream-line"></div>
  <div
    #value
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    class="marble"
  >
    1
  </div>
  <div
    #value
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    class="marble"
  >
    2
  </div>
  <div
    #value
    (mousedown)="onMouseDown($event)"
    (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)"
    (mouseout)="onMouseOut($event)"
    class="marble"
  >
    3
  </div>
</div>

<div class="operator">Map(x => x * 2)</div>
