<button type="button" class="btn btn-sm btn-primary" (click)="downloadCsv()">
  Download CSV
</button>

<div class="flex-container">
  <ag-grid-angular #sampleGrid
                   class="ag-theme-balham grid"
                   [gridOptions]="gridOptions"
                   [rowData]="rowData"
                   [rowHeight]="35"
                   [enableColResize]="true"
                   [enableSorting]="true"
                   [rowSelection]="'multiple'"
                   [rowMultiSelectWithClick]="true"
                   [suppressRowClickSelection]="false"
                   [columnDefs]="columnDefs"
                   [enableFilter]="true"
                   (cellValueChanged)="valueChanged($event)"
                   (cellEditingStopped)="editted($event)">
  </ag-grid-angular>
</div>
