<form class="form-horizontal" style="padding-left: 50px; width: 200px;">
  <div class="form-group">
    <label class="col-md-4 control-label">数字(directive)</label>
    <div class="col-md-8">
      <input
        type="text"
        appNumberInput
        value="10000"
        class="form-control form-inline input-sm"
      />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">数字(model)</label>
    <div class="col-md-8">
      <input type="text" class="form-control form-inline input-sm" />
    </div>
  </div>
</form>
